<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.GiveHub.member.model.mapper.MemberMapper">
	<select	id="checkId">
		select count(*) from member
		where mem_id = #{id} and mem_status = 'Y'
	</select>

	<select id="selectMemberList">
		select * from member order by 1
	</select>
	
	<!-- 로그인 -->
	<select id="login">
		select *
		from MEMBER
		where MEM_ID = #{memId} and MEM_STATUS ='Y'
	</select>

	<select id="selectNo">
		select * from member where mem_no = #{no}
	</select>

	<update id="adminMemberUpdate">
		update member set mem_type = #{memType}, mem_grade = #{memGrade}, mem_confirm = #{memConfirm} where mem_no = #{memNo}
	</update>

	<update id="adminMemberDelete">
		update member set mem_status = 'N' where mem_no = #{memNo}
	</update>

	<insert id="memberJoin">
		<selectKey  order="BEFORE" resultType="_int" keyProperty="memNo">
			select seq_mem_no.nextval from dual
		</selectKey>
		insert into member values(#{memNo}, #{memName}, #{memId}, #{memPwd}, #{memAddress}, #{memType}, #{memGrade}, default, #{memConfirm}, #{memEmail})
	</insert>
	
	<select id="checkIdDuplication" resultType="_int" parameterType="string">
		select count(*) from member where mem_id =#{email} and mem_status='Y'
	</select>
	
	<update id="editMemberInfo">
		update member set mem_name=#{memName} , mem_ID=#{memId},MEM_ADDRESS=#{memAddress},MEM_PWD=#{memPwd} where mem_no=#{memNo}
	</update>
	
	<select id="findMyId">
		select mem_id from member where mem_email=#{email}
	</select>
	
	<update id="updateTempPwd">
		update member set mem_pwd=#{encodePwd} where mem_email=#{email}
	</update>
	
	<select id="findMemNameByEmail">
		select mem_name from member where mem_email=#{email}
	</select>
	
	<select id="selectDonationList">
		select *
		from payment p
		join donation d using(do_no)
		join member m on(m.mem_no = p.mem_no)
		<where>
			<if test="type == 2">
				d.mem_no = #{no}
			</if>
			<if test="type == 0">
				p.mem_no = #{no} and do_status = 'Y' and do_enddate <![CDATA[>]]> sysdate
			</if>
			<if test="type == 1">
				p.mem_no = #{no} and do_status = 'Y' and do_enddate <![CDATA[<=]]> sysdate
			</if>
		</where>
	</select>

	<update id="deleteMember">
		update member
		set mem_status = 'N'
		where mem_id = #{memId}
	</update>
	
	<select	id="checkEmail">
		select count(*) from member
		where mem_email = #{email} and mem_status = 'Y'
	</select>
	
	<update id="updateRank" parameterType="Map">
		update member
		set mem_grade = #{rank}
		where mem_no = #{memNo}
	</update>
	
	
	
</mapper>
