<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>소식 게시판 조회페이지</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/css/navBar.css" rel="stylesheet" type="text/css">
    <link href="/css/donationList.css" rel="stylesheet" type="text/css">
</head>
<style>

</style>
<body>
<div th:replace="~{/common/navbar.html :: navbar}"></div>
<script src="/js/common.js"></script>

<section class="doantion_list_wrap">
    <div class="list_container">
        <div class="dCategory">
            <h1>소식 목록</h1>
        </div>


        <div class="list_wrap">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th width="50px"><!--글 번호 --></th>
                    <th> <!--글제목 --></th>
                    <th width="200px"><!--작성자--></th>
                    <th width="200px"><!--작성일자--></th>
                    <th width="100px"><!--조회수--></th>
                </tr>
                </thead>
                <tbody class="list_custom newsList_custom">
                    <tr th:each="n : ${nlist}">
                        <td><input type="hidden" th:value="${n.newsNo}"></td>
                        <td class="img_custom" th:style="|background-image: url(${n.thumbnailPath});|">
                            <img th:src="${n.thumbnailPath}" width="100%" height="100%"/></td>
                        <td class="list_title_custom">[[${n.newsTitle}]]</td>
                        <td>[[${n.memName}]]</td>
                        <td class="dona_date">[[${n.newsCreateDate}]]</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>
<footer>
    <div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>
</body>

<script th:inline="javascript">
    window.onload = () => {
        document.querySelector('tbody').addEventListener('click', function (event) {
            let target = event.target; // 클릭된 요소

            // 클릭된 요소가 <tr>까지 올라갈 수 있도록 처리
            while (target.tagName !== 'TR') {
                target = target.parentElement;
                if (!target) return; // 예외 처리 (이벤트 버블링 방지)
            }

            // 클릭된 <tr>의 첫 번째 셀(번호)에서 newsNo 가져오기
            const newsNo = target.querySelector("input[type='hidden']").value;

            // newsNo 값을 포함하여 페이지 이동
            location.href = "/news/newsDetail/" + newsNo;
        });
    }








</script>
</html>