<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="/css/reset.css" rel="stylesheet" type="text/css">
	<link href="/css/common.css" rel="stylesheet" type="text/css">
	<link href="/css/navBar.css" rel="stylesheet" type="text/css">
	<link href="/css/page.css" rel="stylesheet" type="text/css">
<title>Insert title here</title>
</head>
<style>
	.page_container{
		margin: 5rem auto 3rem;
	}

	.success_custom{
		border: 1px solid #c1c1c1;
		border-radius: 19px;
		padding: 3rem 3rem 4rem;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.3em;
	}

	.mem-name {
		font-weight: 500;
	}

	.mem-pwd {
		color: #2CAC73;
		font-weight: 500;
	}


</style>

<body>

<div th:replace="~{/common/navbar.html :: navbar}"></div>
<script src="/js/common.js"></script>

<div class="container page_container">
	<h2 id="findPasswordTop">비밀번호 찾기</h2>
	<div class="success_custom">
		<div>
			<span class="mem-name">[[${memName}]]</span> 님의 임시 비밀번호는
			<span class="mem-pwd">[[${memPwd}]]</span> 입니다.<br>
			마이페이지 → 내정보수정 → 비밀번호 변경 을 통해 원하는 비밀번호로 변경 부탁드립니다.
		</div>
	</div>
</div>
</body>

<footer>
	<div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>
</html>