<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link href="/css/reset.css" rel="stylesheet" type="text/css">
<link href="/css/common.css" rel="stylesheet" type="text/css">
<link href="/css/navBar.css" rel="stylesheet" type="text/css">
<link href="/css/page.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div th:replace="~{/common/navbar.html :: navbar}"></div>
<script src="/js/common.js"></script>
<div class="container page_container">
    <div class="page_title_wrap">
        <h2>회원가입 완료</h2>
        <p class="subtitle">하모니의 가족이 되신것을 진심으로 환영합니다.<br>하모니에서 따뜻한 나눔을 시작해보세요.
        </p>
    </div>
    <div class="img_custom" style="border-right: 19px;">
        <img src="/img/A_smiling_child_holding_an_umbrella.jpg"/>
    </div>
    <div class="go_btn_wrap">
        <a href="/" class="page_btn">메인으로 가기</a>
        <a href="/member/login" class="page_btn">로그인하러 가기</a>
    </div>

</div>
<footer>
    <div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>

</body>
</html>