<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link href="/css/reset.css" rel="stylesheet" type="text/css">
<link href="/css/common.css" rel="stylesheet" type="text/css">
<link href="/css/navBar.css" rel="stylesheet" type="text/css">
<link href="/css/page.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div th:replace="~{/common/navbar.html :: navbar}"></div>
<script src="/js/common.js"></script>
<div class="container page_container">
<form id="joinForm" method="post" action="/member/join">
    <table align="center">
        <tr>
            <td colspan="3" align="center">
                <h2 id="joinTop">회원가입</h2>
                <p class="subtitle">회원가입 시 입력한 정보로 비밀번호를 찾을 수 있습니다.</p>
            </td>
        </tr>

        <tr>
            <th>가입유형</th>
            <td colspan="2">
                <input type="radio" id="ck1" name="memType" value="0" checked><label for="ck1">일반 회원</label>
                <input type="radio" id="ck2" name="memType" value="1"><label for="ck2">주최자</label>
            </td>
        </tr>

        <tr>
            <th>이름</th>
            <td colspan="2" class="text_style">
                <input type="text" id="mem_name" name="memName" placeholder="이름을 입력하세요" required>
            </td>
        </tr>

        <tr>
            <th>아이디</th>
            <td class="text_style">
                <input type="text" id="mem_id" name="memId" placeholder="사용 하실 아이디를 입력하세요." required>
            </td>
            <td class="check_btn">
                <button type="button" id="checkId">아이디 중복확인</button>
            </td>
        </tr>
        <tr class="confirm_text">
            <td></td>
            <td>
                <label id="confirmId"></label>
            </td>
        </tr>
        <tr>
            <th>주소</th>
            <td colspan="2" class="text_style">
                <input type="text" id="mem_address" name="memAddress" placeholder="주소를 입력하세요" required>
            </td>
        </tr>

        <tr>
            <th>비밀번호</th>
            <td colspan="2" class="text_style">
                <input type="password" id="mem_pwd" name="memPwd" placeholder="비밀번호를 입력하세요" required>
            </td>
        </tr>

        <tr>
            <th>비밀번호 확인</th>
            <td colspan="2" class="text_style">
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="비밀번호를 한번 더 입력하세요"
                       required>
            </td>
        </tr>

        <tr class="confirm_text">
            <td></td>
            <td><label id="confirmText"></label></td>
        </tr>

        <tr>
            <th>이메일</th>
            <td colspan="2" class="text_style">
                <input type="email" id="mem_email" name="memEmail" placeholder="이메일을 입력하세요" required>
            </td>

            <td class="Emailcheck_btn check_btn">
     	       <button type="button" id="EmailCheckBtn" name="EmailCheckBtn">이메일 중복 확인</button>
            </td>

            <td class="check_btn">
            <button type="button" id="sendBtn" name="sendBtn">인증번호 받기</button>
            </td>
        </tr>
        <tr class="confirm_text">
            <td></td>
            <td class="email_confirm">
                <label id="confirmEmail"></label>
            </td>
        </tr>

        <tr>
            <th></th>
            <td colspan="2">
                <br>

                <div class="form-group" id="mail_number" name="mail_number" style="visibility: hidden">
                    <input type="text" name="confirmNumber" id="confirmNumber" class="form-control" style="width:250px; margin-top: -10px" placeholder="인증번호 입력">
                    <span id="mail-check-warn"></span>
                    <button type="button" name="confirmBtn" id="confirmBtn" style="margin-top: 20px">이메일 인증</button>
                    <br>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <fieldset class="terms-container">
                    <legend>약관 동의</legend>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="allCheckbox" name="terms">
                        <span class="checkmark"></span> 전체 동의
                    </label>
                    <br>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="termsCheckbox" name="terms" required>
                        <span class="checkmark"></span> (필수) 온라인 서비스 이용약관
                    </label>
                    <br>
                    <label class="custom-checkbox">
                        <input type="checkbox" id="agreeCheckbox" name="terms" required>
                        <span class="checkmark"></span> (필수) 온라인 서비스 이용을 위한 개인정보 수집 이용 동의
                    </label>
                </fieldset>
            </td>
        </tr>


        <tr>
            <td colspan="3" align="center">
                <button type="button" onclick="joinBtn()" id="join" class="submitBtn">회원가입</button>
            </td>
        </tr>

    </table>
</form>
</div>
<br><br><br><br><br>
<footer>
    <div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>
<script type="text/javascript">
    let idCheck = false;
    let pwdCheck = false;
    let confirmCheck = false;
    let emailConfirm = '';

    document.getElementById('passwordConfirm').addEventListener('change', function () {
        const password = document.getElementById('mem_pwd').value;
        const confirmPassword = this.value;
        const confirmText = document.querySelector('#confirmText');

        if (password !== confirmPassword) {
            this.value = '';
            confirmText.innerText = '비밀번호가 일치하지 않습니다.';
            confirmText.style.color = 'red';
            pwdCheck = false;
        } else {
            confirmText.innerText = '비밀번호가 일치합니다.';
            confirmText.style.color = 'green';
            pwdCheck = true;
        }
    });

    document.querySelector('#mem_id').addEventListener('change', () => {
        document.querySelector('#confirmId').innerText = '아이디를 다시 확인해주세요.';
        document.querySelector('#confirmId').style.color = 'red';
        idCheck = false;
        confirmCheck = false;
    });

    document.querySelector('#mem_pwd').addEventListener('change', () => {
        document.querySelector('#confirmText').innerText = '비밀번호를 다시 확인해주세요.';
        document.querySelector('#confirmText').style.color = 'red';
        pwdCheck = false;
    });

    document.getElementById('checkId').addEventListener('click', () => {
        const id = document.querySelector('#mem_id').value;
        const confirmId = document.querySelector('#confirmId');
        console.log(id);
        if (id.trim() != '') {
            $.ajax({
                url: '/member/join.id',
                data: {id: id},
                success: (data) => {
                    if (data == 0) {
                        confirmId.innerText = '사용 가능한 아이디입니다.';
                        confirmId.style.color = 'green';
                        idCheck = true;
                    } else {
                        confirmId.innerHTML = "중복된 아이디 입니다.";
                        confirmId.style.color = 'red';
                        idCheck = false;
                    }
                },
                error: (data) => {
                    console.log(data);
                }
            });
        }else{
            alert('아이디를 입력하세요.')
        }
    });
    
    document.getElementById('EmailCheckBtn').addEventListener('click', () => {
        console.log("확인");
        const email = document.querySelector('#mem_email').value;
        const confirmEmail = document.getElementById('confirmEmail');
        
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (email.trim() === '') {
            alert('이메일을 입력하세요.');
        } else if (!emailPattern.test(email)) {
            confirmEmail.innerText = '이메일 형식이 올바르지 않습니다.';
            confirmEmail.style.color = 'red';
        } else {
            $.ajax({
                url: '/member/join.email',
                data: { email: email },
                success: (data) => {
                    if (data == 0) {
                        confirmEmail.innerText = '사용 가능한 이메일입니다.';
                        confirmEmail.style.color = 'green';
                    } else {
                        confirmEmail.innerText = '이미 회원가입 돼 있는 이메일입니다.';
                        confirmEmail.style.color = 'red';
                    }
                },
                error: (data) => {
                    console.log(data);
                }
            });
        }
    });
    
    
    
    
    

    document.getElementById('allCheckbox').addEventListener('change', function () {
        const isChecked = this.checked;
        document.getElementById('termsCheckbox').checked = isChecked;
        document.getElementById('agreeCheckbox').checked = isChecked;
    });

    document.querySelectorAll('#termsCheckbox, #agreeCheckbox').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const allCheckbox = document.getElementById('allCheckbox');
            const termsCheckbox = document.getElementById('termsCheckbox');
            const agreeCheckbox = document.getElementById('agreeCheckbox');

            if (termsCheckbox.checked && agreeCheckbox.checked) {
                allCheckbox.checked = true;
            } else {
                allCheckbox.checked = false;
            }
        });
    });

    document.querySelector('#sendBtn').addEventListener('click', ()=>{
        if (document.querySelector('#mem_email').value.trim() === ''){
            alert('이메일을 입력해 주세요.');
        }else{
            document.querySelector('#mail_number').style.visibility = 'visible';
            $.ajax({
                url: '/emailCheck',
                method:'post',
                data:{email:document.querySelector('#mem_email').value},
                success:data=>{
                    emailConfirm = data;
                },
                error:data => console.log(data)
            });
        }
    });

    document.querySelector('#confirmBtn').addEventListener('click', ()=>{
        if (document.querySelector('#confirmNumber').value == emailConfirm){
            confirmCheck = true;
            alert('인증 완료');
        }else{
            confirmCheck = false;
            alert('인증 실패');
        }
    });

    const joinBtn = () => {
        console.log('클릭 감지');
        if (!idCheck) {
            alert('아이디를 확인하세요.');
        } else if (!pwdCheck) {
            alert('비밀번호를 확인하세요.');
        } else if (!confirmCheck) {
            alert('이메일 인증을 확인하세요.');
        } else {
            document.querySelector('#joinForm').submit();
        }
    };
</script>
</body>
</html>